In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [4]:
file_path = "/Users/mayurimamdi/Downloads/archive/train.csv"

In [5]:
df=pd.read_csv(file_path)

In [6]:
df.head(10)

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
5,18,92.93,t,b,e,c,d,g,h,s,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
7,25,91.91,o,l,as,f,d,f,j,a,...,0,0,0,0,0,0,0,0,0,0
8,27,108.67,w,s,as,e,d,f,i,h,...,1,0,0,0,0,0,0,0,0,0
9,30,126.99,j,b,aq,c,d,f,a,e,...,0,0,1,0,0,0,0,0,0,0

In [8]:
df.shape

(4209, 378)

In [10]:
df_categorical_cols=df[['X0','X1','X2','X3','X4','X5','X6']]
df_categorical_cols

      X0 X1  X2 X3 X4  X5 X6
0      k  v  at  a  d   u  j
1      k  t  av  e  d   y  l
2     az  w   n  c  d   x  j
3     az  t   n  f  d   x  l
4     az  v   n  f  d   h  d
...   .. ..  .. .. ..  .. ..
4204  ak  s  as  c  d  aa  d
4205   j  o   t  d  d  aa  h
4206  ak  v   r  a  d  aa  g
4207  al  r   e  f  d  aa  l
4208   z  r  ae  c  d  aa  g

[4209 rows x 7 columns]

In [11]:
df_categorical_cols.head(10)

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d
5   t  b   e  c  d  g  h
6  al  r   e  f  d  f  h
7   o  l  as  f  d  f  j
8   w  s  as  e  d  f  i
9   j  b  aq  c  d  f  a

In [15]:
df_categorical_cols['X1'].value_counts().head(10)

X1
aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: count, dtype: int64

In [16]:
df_categorical_cols.nunique().sort_values(ascending=False)

X0    47
X2    44
X5    29
X1    27
X6    12
X3     7
X4     4
dtype: int64